<p-toolbar>
  <h2>Dashboard</h2>
</p-toolbar>
<p-splitButton
  label="Import"
  icon="pi pi-plus"
  [style]="{ marginTop: '100px', float: 'right', marginBottom: '20px' }"
></p-splitButton>

<p-table [value]="dashboardData">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <td *ngFor="let col of cols">
        {{ car[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-table>
